<app-dashboard></app-dashboard>
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
    <h2 class="text-3xl font-bold text-center mb-4">Agenda</h2>
    <button (click)="addEvento()"
        class="w-full flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 mb-4">
        Agregar Evento
    </button>
    <div class="bg-white shadow-lg rounded-lg p-6">
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
</div>