<app-dashboard></app-dashboard>
<div class="container mx-auto px-4 py-8 grid grid-cols-2 gap-4">
    <h2 class="col-span-2 text-2xl font-bold mb-4">Formulario Producto</h2>
    <form class="col-span-2 space-y-4" [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="col-span-1">
            <label for="name" class="block mb-2">Nombre:</label>
            <input type="text" id="name" formControlName="nombre"
                class="w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500"
                required>
        </div>
        <div class="col-span-1">
            <label for="precio" class="block mb-2">Precio:</label>
            <input type="number" id="precio" formControlName="precio"
                class="w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500"
                required>
        </div>
        <div class="col-span-2">
            <label for="descripcion" class="block mb-2">Descripcion:</label>
            <textarea id="descripcion" formControlName="descripcion"
                class="w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500"
                rows="5" required></textarea>
        </div>
        <div class="col-span-1">
            <label for="stock" class="block mb-2">Stock:</label>
            <input type="number" id="stock" formControlName="stock"
                class="w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500"
                required>
        </div>
        <button type="submit" [disabled]="!productForm.valid"
            class="col-span-2 bg-blue-500 text-white px-4 py-2 rounded-md shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
            Guardar
        </button>
    </form>
</div>